<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="questionDaoImpl" class="ru.otus.studenttest.dao.QuestionDaoImpl">
        <constructor-arg name="fileName" value="questions.csv"/>
    </bean>

    <bean id="personServiceImpl" class="ru.otus.studenttest.service.PersonServiceImpl">
    </bean>

    <bean id="questionServiceImpl" class="ru.otus.studenttest.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDaoImpl"/>
    </bean>

    <bean id="testingService" class="ru.otus.studenttest.service.TestingServiceImpl">
        <constructor-arg name="qService" ref="questionServiceImpl"/>
        <constructor-arg name="pService" ref="personServiceImpl"/>
    </bean>
</beans>